{% extends 'final_challenge/templates/layouts/base.html' %}
{% load static %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-auto">
  <div class="card ">
    <div class="card-header">
      <h4 class="card-title">Consulta 6</h4>
      <p>El total de personas que vieron cada pelicula en centroamerica por cadena de cine</p>
    </div>
    <div class="card-body">
      <div class="">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
                <th>Cadena</th>
                <th>Titulo</th>
                <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            {% for key_dict, value_dict in query_six.items %}
            <tr>
              {% for key, value in value_dict.items %}
                
              {% if key == 'Porcentaje' %}
              <td>{{ value }}%</td>
              {% else %}
              <td>{{ value }}</td>
              {% endif %}
                
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>

{% endblock javascripts %}