

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-mini">
            FKY
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-normal">
            Consultas
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_one' %}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Consulta 1</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_two' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Consulta 2</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_three' %}">
              <i class="tim-icons icon-pin"></i>
              <p>Consulta 3</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_four' %}">
              <i class="tim-icons icon-bell-55"></i>
              <p>Consulta 4</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_five' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Consulta 5</p>
            </a>
          </li>
          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_six' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Consulta 6</p>
            </a>
          </li>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_seven' %}">
              <i class="tim-icons icon-align-center"></i>
              <p>Consulta 7</p>
            </a>
          </li>
          <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="{% url 'final_challenge:query_eight' %}">
              <i class="tim-icons icon-world"></i>
              <p>Consulta 8</p>
            </a>
          </li>
          <li>
            <a href="{% url 'final_challenge:query_nine' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Consulta 9</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
              <i class="tim-icons icon-spaceship"></i>
              <p>PRO Version</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
